# 默认忽略的文件
/shelf/
/workspace.xml
# Rider ignored files
/.idea.NetCore3Learn.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# 数据源本地存储已忽略文件
/../../../../../../:\mvctemp\NetCore3Learn\.idea\.idea.NetCore3Learn\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
